<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> This is a REMINDER TO JOSH HASCALL TO MAKE THE HOMEPAGE ACTUALLY WORK</h1>
    <p> Screw U </p>
  </body>
</html>
